In [108]:
import pandas as pd

In [115]:
df = pd.read_excel(r"C:\Users\Admin\Downloads\Data.xlsx")
df.head()

,YEAR,MONTH,Customer Code,Customer Name,Channel Category,Channel Sub-Category,Product SKU,Product Description,Product Range,Product Family,...,Promo Campaign [DPR][CAD],Rebates [DREB][CAD],Net Price [CAD],QTY [Units],Revenue,Unit Cost [CAD],Total Cost [CAD],Unit GM [CAD],Total GM [CAD],Unit GM [%]
0,2022,Jan,DPR10001,EPPICO,Distributor,Projects Distributor,REFTW008,Refrigerator Twin Door 8 ft,Twin Door,Refrigerator,...,91.0,0.0,780.0,1000.0,780000.0,541.529857,541529.857143,238.470143,238470.142857,0.305731
1,2022,Jan,DPR10001,EPPICO,Distributor,Projects Distributor,REFTW010,Refrigerator Twin Door 10 ft,Twin Door,Refrigerator,...,105.0,0.0,930.0,1100.0,1023000.0,650.182550,715200.805369,279.817450,307799.194631,0.300879
2,2022,Jan,DPR10001,EPPICO,Distributor,Projects Distributor,REFTW012,Refrigerator Twin Door 12 ft,Twin Door,Refrigerator,...,119.0,0.0,1071.0,900.0,963900.0,721.774933,649597.439597,349.225067,314302.560403,0.326074
3,2022,Jan,DPR10001,EPPICO,Distributor,Projects Distributor,REFTR008,Refrigerator Triple Door 8 ft,Triple Door,Refrigerator,...,98.0,0.0,868.0,800.0,694400.0,586.468235,469174.588235,281.531765,225225.411765,0.324345
4,2022,Jan,DPR10001,EPPICO,Distributor,Projects Distributor,REFTR010,Refrigerator Triple Door 10 ft,Triple Door,Refrigerator,...,112.0,0.0,1008.0,700.0,705600.0,662.484047,463738.832685,345.515953,241861.167315,0.342774

In [116]:
# Fill missing values in specified columns with zeros
columns_to_fill = ['Standard Discount [SD2 %]', 'Special Discount [DSP %]',
                   'Promo Campaign [DPR%]', 'Rebates [DREB%]']
df[columns_to_fill] = df[columns_to_fill].fillna(0)

In [117]:
# Convert April to Apr value in the 'MONTH' column
df['MONTH'] = df['MONTH'].replace('April', 'Apr')
df['MONTH'] = df['MONTH'].replace('Sept', 'Sep')

In [118]:
# Convert columns to float, coerce errors to NaN
df['Standard Discount [SD1][CAD]'] = pd.to_numeric(df['Standard Discount [SD1][CAD]'], errors='coerce')
df['Standard Discount [SD2][CAD]'] = pd.to_numeric(df['Standard Discount [SD2][CAD]'], errors='coerce')
df['Special Discount [DSP][CAD]'] = pd.to_numeric(df['Special Discount [DSP][CAD]'], errors='coerce')
df['Promo Campaign [DPR][CAD]'] = pd.to_numeric(df['Promo Campaign [DPR][CAD]'], errors='coerce')

In [119]:
month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
df['MONTH'] = pd.Categorical(df['MONTH'], categories=month_order, ordered=True)

In [97]:
from pymongo import MongoClient

# Change the connection string per your MongoDB environment
client = MongoClient('mongodb+srv://Mihir:Pwd1234@cluster0.1nb37zp.mongodb.net/Aitionics?retryWrites=true&w=majority&ssl=true&tlsAllowInvalidCertificates=true')
db = client['Aitionics']
collection = db['user_data']

records = df.to_dict(orient='records')
collection.insert_many(records)

print(f"{len(records)} records inserted.")

4320 records inserted.

In [120]:
# Sort the DataFrame by Year and Month
df_1 = df_1.copy()
month_order = {"Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6,
                "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12}
df_1["Month Num"] = df["MONTH"].map(month_order)
df.sort_values(['YEAR', 'Month Num'], inplace=True)

# First, ensure we have a consistent format for the 'MONTH' and 'YEAR' for accurate comparisons
df['MONTH'] = df['MONTH'].astype(str)

# Separate dataframes for 2022 and 2023
df_2022 = df[df['YEAR'] == 2022].groupby(['MONTH', 'Channel Category', 'Customer Code', 'Product SKU', 'Product Category', 'Product Family', 'Product Range', 'Channel Sub-Category', 'Customer Name']).agg({'Revenue':'sum', 'QTY [Units]':'sum', 'Net Price [CAD]':'sum'}).reset_index()
df_2023 = df[df['YEAR'] == 2023].groupby(['MONTH', 'Channel Category', 'Customer Code', 'Product SKU', 'Product Category', 'Product Family', 'Product Range', 'Channel Sub-Category', 'Customer Name']).agg({'Revenue':'sum', 'QTY [Units]':'sum', 'Net Price [CAD]':'sum'}).reset_index()

# Proceed with merging and comparison as planned
df = pd.merge(df_2023, df_2022, how='outer', on=['MONTH', 'Channel Category', 'Customer Code', 'Product SKU', 'Product Category', 'Product Family', 'Product Range', 'Channel Sub-Category', 'Customer Name'], suffixes=('_2023', '_2022'))
df_2023_not_nan = df[df['Revenue_2023'] > 0]

df_2023_not_nan['Revenue % Change'] = ((df_2023_not_nan['Revenue_2023'] - df_2023_not_nan['Revenue_2022']) / df_2023_not_nan['Revenue_2022']) * 100

# Calculate Delta Price [CAD], Delta Price %, Delta Volume [CAD], Delta Volume % from raw data
df['Delta Price [CAD]'] = ((df['Net Price [CAD]_2023'] - df['Net Price [CAD]_2022']) * df['QTY [Units]_2023'])
df['Delta Price %'] = df['Delta Price [CAD]'] / df['Revenue_2022'] * 100
df['Delta Volume [CAD]'] = df['Revenue_2023'] - df['Revenue_2022'] - df['Delta Price [CAD]']
df['Delta Volume %'] = df['Delta Volume [CAD]'] / df['Revenue_2022'] * 100

# Reset index after sorting
df.reset_index(drop=True, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14576\3353415364.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023_not_nan['Revenue % Change'] = ((df_2023_not_nan['Revenue_2023'] - df_2023_not_nan['Revenue_2022']) / df_2023_not_nan['Revenue_2022']) * 100

In [16]:
from pymongo import MongoClient

# Change the connection string per your MongoDB environment
client = MongoClient('mongodb+srv://Mihir:Pwd1234@cluster0.1nb37zp.mongodb.net/Aitionics?retryWrites=true&w=majority&ssl=true&tlsAllowInvalidCertificates=true')
db = client['Aitionics']
collection = db['delta_data']


records = df.to_dict(orient='records')
collection.insert_many(records)

print(f"{len(records)} records inserted.")

3456 records inserted.